openapi: 3.0.0
info:
  title: Mist API
  description: >-
    > Version: **2508.1.1**

    >

    > Date: **August 8, 2025**

    <div class="notification"> NOTE:<br>Some important API changes will be introduced. Please make sure to read the <a href="https://www.juniper.net/documentation/us/en/software/mist/api/http/guides/important-api-changes">announcements</a> </div>


    ---

    ## Additional Documentation

    * [Mist Automation Guide](https://www.juniper.net/documentation/us/en/software/mist/automation-integration/index.html)

    * [Mist Location SDK](https://www.juniper.net/documentation/us/en/software/mist/location-services/topics/concept/mist-how-get-mist-sdk.html)

    * [Mist Product Updates](https://www.juniper.net/documentation/us/en/software/mist/product-updates/)


    ## Helpful Resources

    * [API Sandbox and Exercises](https://api-class.mist.com/)

    * [Postman Collection, Runners and Webhook Samples](https://www.postman.com/juniper-mist/workspace/mist-systems-s-public-workspace)

    * [Python Script Examples](https://github.com/tmunzer/mist_library)

    * [API Demo Apps](https://apps.mist-lab.fr/)

    * [Juniper Blog](https://blogs.juniper.net/)


    ## Mist Web Browser Extension:

    * Google Chrome, Microsoft Edge and other Chromium-based browser: [Chrome Web Store](https://chromewebstore.google.com/detail/mist-extension/ejhpdcljeamillfhdihkkmoakanpbplh)

    * Firefox: [Firefox Add-ons](https://addons.mozilla.org/en-US/firefox/addon/mist-extension/)


    ---
  contact:
    name: Thomas Munzer
    email: tmunzer@juniper.net
  version: '2508.1.1'
servers:
- url: https://api.mist.com
  variables: {}
- url: https://api.gc1.mist.com
  variables: {}
- url: https://api.ac2.mist.com
  variables: {}
- url: https://api.gc2.mist.com
  variables: {}
- url: https://api.gc4.mist.com
  variables: {}
- url: https://api.eu.mist.com
  variables: {}
- url: https://api.gc3.mist.com
  variables: {}
- url: https://api.ac6.mist.com
  variables: {}
- url: https://api.gc6.mist.com
  variables: {}
- url: https://api.ac5.mist.com
  variables: {}
- url: https://api.gc7.mist.com
  variables: {}
paths:
  /api/v1/invite/verify/{token}:
    post:
      tags:
      - Admins
      summary: verifyAdminInvite
      description: '**Note**: another call to ```GET /api/v1/self``` is required to see the new set of privileges'
      operationId: verifyAdminInvite
      parameters:
      - name: token
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not Found
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - example:
                    detail: invalid secret
              examples:
                Invalid Secret:
                  value:
                    detail: invalid secret
                Invite Created By Self:
                  value:
                    detail: invite created by self
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - example:
                    detail: invalid secret
              examples:
                Invalid Secret:
                  value:
                    detail: invalid secret
                Invite Created By Self:
                  value:
                    detail: invite created by self
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/register:
    post:
      tags:
      - Admins
      summary: registerNewAdmin
      description: "Register a new admin and his/her org\nAn email will also be sent to the user with a link to `/verify/register?token={token}`\n\n### reCAPTCHA\nGoogle reCAPTCHA is the choice to prevent bot registration\n\nIt needs this \n\n&lt;script src='https://www.google.com/recaptcha/api.js' &gt;&lt;/script&gt;\n\nand this &lt;div&gt; in the desired place\n```html\n<div class=\"g-recaptcha\" data_sitekey=\"6LdAewsTAAAAAE25XKQhPEQ2FiMTft-WrZXQ5NUd\"></div>\n```\n\nUse GET /api/v1/register/recaptcha to read the current setting.\nResponse example:\n```json\n{    \n  \"flavor\": \"google\",\n  \"required\": true,    \n  \"sitekey\": \"6LdAewsTAAAAAE25XKQhPEQ2FiMTft-WrZXQ5NUd\"\n}\n```\n\n### hCaptcha\nAlternative to reCAPTCHA is hCaptcha to prevent bot registration\n\nIt needs this script\n\n&lt;script src='https://js.hcaptcha.com/1/api.js' async defer &gt;&lt;/script&gt;\n\nand this &lt;div&gt; in the desired place\n```html\n<div class=\"h-recaptcha\" data_sitekey=\"6LdAewsTAAAAAE25XKQhPEQ2FiMTft-WrZXQ5NUd\"></div>\n```\n\nUse GET /api/v1/register/recaptcha?recaptcha_flavor=hcaptcha to read the current setting for hcaptcha with reply.\nResponse example:\n```json\n{\n  \"flavor\": \"hcaptcha\",\n  \"required\": true,\n  \"sitekey\": \"6LdAewsTAAAAAE25XKQhPEQ2FiMTft-WrZXQ5NUd\"\n}\"\n```"
      operationId: registerNewAdmin
      parameters: []
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/admin_invite'
              - description: Request Body
                example:
                  account_only: false
                  allow_mist: false
                  city: Cupertino
                  country: United States
                  email: test@mistsys.com
                  first_name: John
                  invite_code: MISTROCKS
                  last_name: Smith
                  org_name: Smith LLC
                  password: foryoureyesonly
                  recaptcha: string
                  recaptcha_flavor: hcaptcha
                  referer_invite_token: Dm2gtT8dwMeM4Bc2E8FLIaA96VHOjPat
                  return_to: https://mist.zendesk.com/hc/quickstart.pdf
                  state: California
                  street_address: 1601 S De Anza Blvd Ste 248
                  street_address 2: 1601 S De Anza Blvd Ste 248
                  zipcode: '95014'
            examples:
              Example:
                value:
                  account_only: false
                  allow_mist: false
                  city: Cupertino
                  country: United States
                  email: test@mistsys.com
                  first_name: John
                  invite_code: MISTROCKS
                  last_name: Smith
                  org_name: Smith LLC
                  password: foryoureyesonly
                  recaptcha: string
                  recaptcha_flavor: hcaptcha
                  referer_invite_token: Dm2gtT8dwMeM4Bc2E8FLIaA96VHOjPat
                  return_to: https://mist.zendesk.com/hc/quickstart.pdf
                  state: California
                  street_address: 1601 S De Anza Blvd Ste 248
                  street_address 2: 1601 S De Anza Blvd Ste 248
                  zipcode: '95014'
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/register/recaptcha:
    get:
      tags:
      - Admins
      summary: getAdminRegistrationInfo
      description: Get Registration Information
      operationId: getAdminRegistrationInfo
      parameters:
      - name: recaptcha_flavor
        in: query
        description: ''
        style: form
        explode: true
        schema:
          allOf:
          - $ref: '#/components/schemas/recaptcha_flavor'
          - example: hcaptcha
      responses:
        '200':
          description: Example response
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/recaptcha'
                - example:
                    flavor: google
                    required: true
                    sitekey: '6LdAewsTAAAAAE25XKQhPEQ2FiMTft-WrZXQ5NUd'
              examples:
                Google:
                  value:
                    flavor: google
                    required: true
                    sitekey: '6LdAewsTAAAAAE25XKQhPEQ2FiMTft-WrZXQ5NUd'
                Hcaptcha:
                  value:
                    flavor: hcaptcha
                    required: true
                    sitekey: '6LdAewsTAAAAAE25XKQhPEQ2FiMTft-WrZXQ5NUd'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/recaptcha'
                - example:
                    flavor: google
                    required: true
                    sitekey: '6LdAewsTAAAAAE25XKQhPEQ2FiMTft-WrZXQ5NUd'
              examples:
                Google:
                  value:
                    flavor: google
                    required: true
                    sitekey: '6LdAewsTAAAAAE25XKQhPEQ2FiMTft-WrZXQ5NUd'
                Hcaptcha:
                  value:
                    flavor: hcaptcha
                    required: true
                    sitekey: '6LdAewsTAAAAAE25XKQhPEQ2FiMTft-WrZXQ5NUd'
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/register/verify/{token}:
    post:
      tags:
      - Admins
      summary: verifyRegistration
      description: Verify registration
      operationId: verifyRegistration
      parameters:
      - name: token
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Set-Cookie:
              content:
                text/plain:
                  schema:
                    type: string
                    example: csrftoken=vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx; expires=Tue, 15-Mar-2016 19:47:20 GMT; Max-Age=31449600; Path=/
                  example: csrftoken=vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx; expires=Tue, 15-Mar-2016 19:47:20 GMT; Max-Age=31449600; Path=/
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_verify_token_success'
                - example:
                    return_to: https://mist.zendesk.com/hc/quickstart.pdf
              examples:
                Success:
                  value:
                    return_to: https://mist.zendesk.com/hc/quickstart.pdf
                success-but-failed-to-apply_the-invitation-automatically:
                  value:
                    detail: password policy not met
                    invite_not_applied: true
                    min_length: 8
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_verify_token_success'
                - example:
                    return_to: https://mist.zendesk.com/hc/quickstart.pdf
              examples:
                Success:
                  value:
                    return_to: https://mist.zendesk.com/hc/quickstart.pdf
                success-but-failed-to-apply_the-invitation-automatically:
                  value:
                    detail: password policy not met
                    invite_not_applied: true
                    min_length: 8
        '400':
          description: Response if verification expired or already registered
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - example:
                    detail: already registered
              examples:
                Already Registered:
                  value:
                    detail: already registered
                Verification Expired:
                  value:
                    detail: expired
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - example:
                    detail: already registered
              examples:
                Already Registered:
                  value:
                    detail: already registered
                Verification Expired:
                  value:
                    detail: expired
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Response if secret is invalid
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - example:
                    detail: Not found.
              examples:
                Not Found:
                  value:
                    detail: Not found.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_detail_string'
                - example:
                    detail: Not found.
              examples:
                Not Found:
                  value:
                    detail: Not found.
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/login:
    post:
      tags:
      - Admins Login
      summary: login
      description: "Log in with email/password.\nWhen 2FA is enabled, there are two ways to login:\n1. login with two_factor token (with Google Authenticator, etc) \n2. login with email/password, generate the token, and use /login/two_factor with the token"
      operationId: login
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/login'
              - example:
                  email: test@mistsys.com
                  password: foryoureyesonly
                  two_factor: '123456'
            examples:
              with-2FA:
                value:
                  email: test@mistsys.com
                  password: foryoureyesonly
                  two_factor: '123456'
              without-2FA:
                value:
                  email: test@mistsys.com
                  password: foryoureyesonly
        required: false
      responses:
        '200':
          description: Login Success
          headers:
            Set-Cookie:
              description: Session Cookie if login/password authentication is successful
              content:
                text/plain:
                  schema:
                    type: string
                    description: Session Cookie if login/password authentication is successful
                    example: csrftoken=vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx; expires=Tue, 15-Mar-2016 19:47:20 GMT; Max-Age=31449600; Path=/
                  example: csrftoken=vwvBuq9qkqaKh7lu8tNc0gkvBfEaLAmx; expires=Tue, 15-Mar-2016 19:47:20 GMT; Max-Age=31449600; Path=/
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_login_success'
                - example:
                    email: test@mistsys.com
                    two_factor_passed: false
                    two_factor_required: true
              examples:
                2FA-required:
                  value:
                    email: test@mistsys.com
                    two_factor_passed: false
                    two_factor_required: true
                OK:
                  value: {}
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_login_success'
                - example:
                    email: test@mistsys.com
                    two_factor_passed: false
                    two_factor_required: true
              examples:
                2FA-required:
                  value:
                    email: test@mistsys.com
                    two_factor_passed: false
                    two_factor_required: true
                OK:
                  value: {}
        '400':
          description: Login Failed
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_login_failure'
                - example:
                    detail: sso admin login needs to be initiated by IdP
                    forward_url: https://my.sso/idp_sso_url
              examples:
                Example:
                  value:
                    detail: sso admin login needs to be initiated by IdP
                    forward_url: https://my.sso/idp_sso_url
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_login_failure'
                - example:
                    detail: sso admin login needs to be initiated by IdP
                    forward_url: https://my.sso/idp_sso_url
              examples:
                Example:
                  value:
                    detail: sso admin login needs to be initiated by IdP
                    forward_url: https://my.sso/idp_sso_url
      deprecated: false
  /api/v1/login/two_factor:
    post:
      tags:
      - Admins Login
      summary: twoFactor
      description: Send 2FA Code
      operationId: twoFactor
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/two_factor_string'
              - example:
                  two_factor: '123456'
            examples:
              Example:
                value:
                  two_factor: '123456'
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: two_factor code is incorrect or the user hasn't login yet
          headers: {}
          content: {}
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: The user doesn't have 2FA enabled
          headers: {}
          content: {}
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/logout:
    post:
      tags:
      - Admins Logout
      summary: logout
      description: Logout
      operationId: logout
      parameters: []
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_logout'
                - example:
                    forward_url: https://my.sso/custom_logout_url
              examples:
                Example:
                  value:
                    forward_url: https://my.sso/custom_logout_url
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_logout'
                - example:
                    forward_url: https://my.sso/custom_logout_url
              examples:
                Example:
                  value:
                    forward_url: https://my.sso/custom_logout_url
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/recover:
    post:
      tags:
      - Admins Recover Password
      summary: recoverPassword
      description: >-
        Recover Password

        An email will also be sent to the user with a link to https://manage.mist.com/verify/recover?token=:token
      operationId: recoverPassword
      parameters: []
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/recover'
              - example:
                  email: test@mistsys.com
                  recaptcha: string
                  recaptcha_flavor: hcaptcha
            examples:
              Example:
                value:
                  email: test@mistsys.com
                  recaptcha: string
                  recaptcha_flavor: hcaptcha
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/recover/verify/{token}:
    post:
      tags:
      - Admins Recover Password
      summary: verifyRecoverPassword
      description: >-
        Verify Recover Password

        With correct verification, the user will be authenticated. UI can then prompt for new password
      operationId: verifyRecoverPassword
      parameters:
      - name: token
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/login/lookup:
    post:
      tags:
      - Admins Lookup
      summary: lookup
      description: Login Lookup
      operationId: lookup
      parameters: []
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/email_string'
              - description: Request Body
                example:
                  email: test@mistsys.com
            examples:
              Example:
                value:
                  email: test@mistsys.com
        required: false
      responses:
        '200':
          description: Account exists
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_login_lookup'
                - example:
                    sso_url: https://my.sso/idp_sso_url
              examples:
                SSO_user_exists:
                  value:
                    sso_url: https://my.sso/idp_sso_url
                local_user_exists:
                  value: {}
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_login_lookup'
                - example:
                    sso_url: https://my.sso/idp_sso_url
              examples:
                SSO_user_exists:
                  value:
                    sso_url: https://my.sso/idp_sso_url
                local_user_exists:
                  value: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: User does not exist
          headers: {}
          content: {}
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/login/oauth/{provider}:
    delete:
      tags:
      - Admins Login - OAuth2
      summary: unlinkOauth2Provider
      description: Unlink OAuth2 Provider
      operationId: unlinkOauth2Provider
      parameters:
      - name: provider
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: google
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    get:
      tags:
      - Admins Login - OAuth2
      summary: getOauth2AuthorizationUrlForLogin
      description: Obtain Authorization URL for Login
      operationId: getOauth2AuthorizationUrlForLogin
      parameters:
      - name: provider
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: google
      - name: forward
        in: query
        description: Callback URL
        style: form
        explode: true
        schema:
          type: string
          example: https://manage.mist.com/oauth/callback.html
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_login_oauth_url'
                - example:
                    authorization_url: https://accounts.google.com/o/oauth2/v2/auth?.....
                    client_id: 173131512-mpbnju32.apps.googleusercontent.com
              examples:
                Example:
                  value:
                    authorization_url: https://accounts.google.com/o/oauth2/v2/auth?.....
                    client_id: 173131512-mpbnju32.apps.googleusercontent.com
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_login_oauth_url'
                - example:
                    authorization_url: https://accounts.google.com/o/oauth2/v2/auth?.....
                    client_id: 173131512-mpbnju32.apps.googleusercontent.com
              examples:
                Example:
                  value:
                    authorization_url: https://accounts.google.com/o/oauth2/v2/auth?.....
                    client_id: 173131512-mpbnju32.apps.googleusercontent.com
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Admins Login - OAuth2
      summary: loginOauth2
      description: Login via OAuth2
      operationId: loginOauth2
      parameters:
      - name: provider
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          example: google
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/code_string'
              - description: Request Body
                example:
                  code: 4/S9tegDeLkrYg0L9pWNXV4cgMVbbr3SR9t693A2kSHzw
            examples:
              Example:
                value:
                  code: 4/S9tegDeLkrYg0L9pWNXV4cgMVbbr3SR9t693A2kSHzw
        required: false
      responses:
        '200':
          description: OK
          headers: {}
          content: {}
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/installer/orgs/{org_id}/alarmtemplates:
    get:
      tags:
      - Installer
      summary: listInstallerAlarmTemplates
      description: Get List of alarm templates
      operationId: listInstallerAlarmTemplates
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 000000ab-00ab-00ab-00ab-0000000000ab
      responses:
        '200':
          description: Installer List of Alarm Templates
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installers_item'
                description: ''
                example:
                - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                  name: AlarmTemplate 1
              examples:
                Example:
                  value:
                  - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                    name: AlarmTemplate 1
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installers_item'
                description: ''
                example:
                - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                  name: AlarmTemplate 1
              examples:
                Example:
                  value:
                  - id: 684dfc5c-fe77-2290-eb1d-ef3d677fe168
                    name: AlarmTemplate 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/installer/orgs/{org_id}/deviceprofiles:
    get:
      tags:
      - Installer
      summary: listInstallerDeviceProfiles
      description: Get List of Device Profiles
      operationId: listInstallerDeviceProfiles
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 000000ab-00ab-00ab-00ab-0000000000ab
      - name: type
        in: query
        description: ''
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/device_type_default_ap'
      responses:
        '200':
          description: Installer List of Device Profiles
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installers_item'
                description: ''
                example:
                - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  name: DeviceProfile 1
              examples:
                Example:
                  value:
                  - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    name: DeviceProfile 1
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installers_item'
                description: ''
                example:
                - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                  name: DeviceProfile 1
              examples:
                Example:
                  value:
                  - id: 6f4bf402-45f9-2a56-6c8b-7f83d3bc98e9
                    name: DeviceProfile 1
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
  /api/v1/installer/orgs/{org_id}/devices:
    get:
      tags:
      - Installer
      summary: listInstallerListOfRecentlyClaimedDevices
      description: Get List of recently claimed devices
      operationId: listInstallerListOfRecentlyClaimedDevices
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 000000ab-00ab-00ab-00ab-0000000000ab
      - name: model
        in: query
        description: Device Model
        style: form
        explode: true
        schema:
          type: string
          example: AP43
      - name: site_name
        in: query
        description: Site Name
        style: form
        explode: true
        schema:
          type: string
          example: SJ1
      - name: site_id
        in: query
        description: Site ID
        style: form
        explode: true
        schema:
          type: string
          format: uuid
          example: 72771e6a-6f5e-4de4-a5b9-1266c4197811
      - name: limit
        in: query
        description: ''
        style: form
        explode: true
        schema:
          minimum: 0
          type: integer
          format: int32
          default: 100
      - name: page
        in: query
        description: ''
        style: form
        explode: true
        schema:
          minimum: 1
          type: integer
          format: int32
          default: 1
      responses:
        '200':
          description: List of Devices Recently Claimed
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installer_device'
                description: ''
                example:
                - connected: true
                  deviceprofile_name: SJ1
                  height: 2.7
                  mac: 5c5b35000018
                  map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                  model: AP41
                  name: hallway
                  orientation: 90
                  serial: FXLH2015150025
                  site_name: SJ1
                  x: 150
                  y: 300
              examples:
                Example:
                  value:
                  - connected: true
                    deviceprofile_name: SJ1
                    height: 2.7
                    mac: 5c5b35000018
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    model: AP41
                    name: hallway
                    orientation: 90
                    serial: FXLH2015150025
                    site_name: SJ1
                    x: 150
                    y: 300
            application/vnd.api+json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/installer_device'
                description: ''
                example:
                - connected: true
                  deviceprofile_name: SJ1
                  height: 2.7
                  mac: 5c5b35000018
                  map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                  model: AP41
                  name: hallway
                  orientation: 90
                  serial: FXLH2015150025
                  site_name: SJ1
                  x: 150
                  y: 300
              examples:
                Example:
                  value:
                  - connected: true
                    deviceprofile_name: SJ1
                    height: 2.7
                    mac: 5c5b35000018
                    map_id: 845a23bf-bed9-e43c-4c86-6fa474be7ae5
                    model: AP41
                    name: hallway
                    orientation: 90
                    serial: FXLH2015150025
                    site_name: SJ1
                    x: 150
                    y: 300
        '400':
          description: Bad Syntax
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
              examples:
                Example:
                  value:
                    detail: 'JSON parse error - Expecting value: line 5 column 8 (char 56)'
        '401':
          description: Unauthorized
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Authentication credentials were not provided.
              examples:
                Example:
                  value:
                    detail: Authentication credentials were not provided.
        '403':
          description: Permission Denied
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: You do not have permission to perform this action.
              examples:
                Example:
                  value:
                    detail: You do not have permission to perform this action.
        '404':
          description: Not found. The API endpoint doesnâ€™t exist or resource doesnâ€™ t exist
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response_http404'
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/response_http404'
        '429':
          description: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_http400'
                - example:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
              examples:
                Example:
                  value:
                    detail: Too Many Request. The API Token used for the request reached the 5000 API Calls per hour threshold
      deprecated: false
    post:
      tags:
      - Installer
      summary: claimInstallerDevices
      description: This mirrors `POST /api/v1/orgs/{org_id}/inventory` (see Inventory API)
      operationId: claimInstallerDevices
      parameters:
      - name: org_id
        in: path
        description: ''
        required: true
        style: simple
        schema:
          type: string
          format: uuid
          example: 000000ab-00ab-00ab-00ab-0000000000ab
      requestBody:
        description: Request Body
        content:
          application/json:
            schema:
              uniqueItems: true
              type: array
              items:
                type: string
              description: Request Body
              example:
              - 6JG8E-PTFV2-A9Z2N
              - DVH4V-SNMSZ-PDXBR
            examples:
              Example:
                value:
                - 6JG8E-PTFV2-A9Z2N
                - DVH4V-SNMSZ-PDXBR
        required: false
      responses:
        '200':
          description: OK - if any of entries are valid or thereâ€™s no errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_inventory'
                - example:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
              examples:
                Example:
                  value:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
            application/vnd.api+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_inventory'
                - example:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
              examples:
                Example:
                  value:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
                      serial: FXLH2015150025
                      type: ap
                    inventory_duplicated:
                    - mac: 5c5b35000012
                      magic: DVH4VSNMSZPDXBR
                      model: AP41
                      serial: FXLH2015150027
                      type: ap
                    reason:
                    - belongs to another org ('e2f543f7-d6e1-409f-a565-e77a1f098d3b' (other) != '0de5d6fc-219a-414d-a840-67d6b919ad8f' (you))
        '400':
          description: OK - if any of entries are valid or thereâ€™s no errors
          headers: {}
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/response_inventory'
                - example:
                    added:
                    - 6JG8E-PTFV2-A9Z2N
                    duplicated:
                    - DVH4V-SNMSZ-PDXBR
                    error:
                    - PO1025335ohoh
                    inventory_added:
                    - mac: 5c5b35000018
                      magic: 6JG8EPTFV2A9Z2N
                      model: AP41
[...]
